#blog
{
  padding-top: 1.5em;
}
#blog a
{
  color: #057;
  text-decoration: none;
  font-weight: bold;
}
#blog h3 a
{
  color: black;
}
#blog h4 a
{
  color: black;
}
#blog h2
{
  font-size: 2em;
  line-height: .75em;
  margin-bottom: 1.5em;
}
#blog h2 a
{
  color: black;
}
#blog tags a
{
  text-decoration: underline;
  font-weight: normal;
  padding: 0px 2px;
}
#tags a
{
  font-weight: normal;
  padding: 0px 1px;
  text-decoration: underline;
}
hr
{
  margin-bottom: 3em;
}
.recent
{
  padding-bottom: 1.5em;
}
.recent h4
{
  margin-bottom: 0em;
}
div#sidebar
{
  
}
div#sidebar div
{
  margin-bottom: 1.5em;
}
.entry
{
  margin-bottom: 3em;
}
.entry h3
{
  margin-bottom: 0em;
  margin-right: 1em;
}
.entry h4
{
  display: inline;
  font-weight: bold;
  margin-top: 1px;
  margin-bottom: 0px;
}
.entry meta
{
  text-align: right;
}
.entry .images
{
  float: left;
  margin-right: 1.5em;
  width: 95px;
}
.entry .image img
{
  width: 99%;
}
.entry body
{
  clear: left;
}
.entry .tags
{
  margin-bottom: 1.5em;
}
