div
{
  background: red;
  width: 9934px;
}
div ul li
{
  color: green;
}
div p.ugly.truly
{
  color: aqua;
}
div .smurf.house
{
  height: 256px;
}
div #menu
{
  padding: 10px;
}
.gargamel
{
  margin: 0px;
}
.outer.middle.inner
{
  top: 34px;
}
